body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #800000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #800000;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
